* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: "poppins",sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.active {
  color: #fc036b;
  font-weight: bold;
  text-decoration: underline;
}
/* navbar  */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  color: whitesmoke;
}
.nav-links {
  display: flex;
}
.nav-links li a {
  color: whitesmoke;
  margin: 0 30px;
  text-transform: capitalize;
}
header {
  width: 100vw;
  height: 100vh;
  background-image: url(home\ image.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.header-content {
  margin-bottom: 150px;
  color: whitesmoke;
  text-align: center;
}
.header-content h2 {
  font-size: 4vmin;
}
.line {
  background: #fc036b;
  width: 150px;
  height: 4px;
  margin: 10px auto;
  border-radius: 5px;
}
.header-content h1 {
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
}
.ctn {
  background: #fc036b;
  padding: 8px 15px;
  border-radius: 30px;
  color: whitesmoke;
  text-transform: capitalize;
}
.contact{
    background: #fc036b;
    padding: 8px;
    border-radius: 30px;
    color: whitesmoke;
    text-transform: capitalize;  
}
.navbar .menu-btn i {
  display: none;
}
#click {
  display: none;
}
