* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* navbar  */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  color: whitesmoke;
}
.nav-links {
  display: flex;
}
.nav-links li a {
  color: whitesmoke;
  margin: 0 30px;
  text-transform: capitalize;
}
.active {
  color: #fc036b;
  font-weight: bold;
  text-decoration: underline;
}
header {
  width: 100vw;
  height: 100vh;
  background-image: url(../media/home\ image.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.header-content {
  margin-bottom: 150px;
  color: whitesmoke;
  text-align: center;
}
.header-content h2 {
  font-size: 4vmin;
}
.line {
  background: #fc036b;
  width: 150px;
  height: 4px;
  margin: 10px auto;
  border-radius: 5px;
}
.header-content h1 {
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
}
.ctn {
  background: #fc036b;
  padding: 8px 15px;
  border-radius: 30px;
  color: whitesmoke;
  text-transform: capitalize;
}
.contact {
  background: #fc036b;
  padding: 8px;
  border-radius: 30px;
  color: whitesmoke;
  text-transform: capitalize;
}
.navbar .menu-btn i {
  display: none;
}
#click {
  display: none;
}

/* events  */

section {
  width: 100%;
  margin: 80px auto;
}
.title {
  text-align: center;
  font-size: 4vmin;
  text-transform: capitalize;
  color: #49497e;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.col img {
  width: 80%;
  height: 300px;
}
.row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.events .row {
  margin-top: 50px;
}
h4 {
  font-size: 3vmin;
  color: #49497e;
  margin: 20px auto;
  text-transform: capitalize;
}
p {
  padding: 0px 40px;
  color: #7c7c7c;
}
.events .ctn {
  margin-top: 30px;
}
/* explore  */

.explore {
  width: 100%;
  height: 100vh;
  background-image: url(../media/explore-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.explore-content {
  width: 60%;
  padding: 30px;
  color: whitesmoke;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.explore-content h1 {
  font-size: 7vmin;
  margin: 50px 50px 10px 50px;
  text-transform: capitalize;
}
.explore-content p {
  color: #49497e;
}
.explore-content .ctn {
  margin-top: 40px;
}

.explore-content .line {
  margin-bottom: 50px;
}

/* tours  */
.content-col{
  width: 40%;
}
.image-col{
  width: 60%;
}
.tours .image-gallery{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
.image-gallery img{
  max-width:300px;
  margin: 10px;
  height: 250px;
}
.content-col h1{
font-size: 5vmin;
color: #49497e;
}
.content-col .line{
  margin-left: -1px;
}
.content-col p{
  padding: 0;
  margin: 30px auto;
}
.content-col .ctn{
  margin-left: -100px;
}
/* footer  */

.footer{
  width: 100%;
  min-height: 100px;
  padding: 20px 80px;
  margin: 0;
  background-color: #484872;
  text-align: center;
}
.footer p{
  color: whitesmoke;
  margin: 20px auto;
  padding: 20px auto;
}

img{
  transition: all .3s ease;
}
img:hover{
  transform: scale(1.1);
}

.ctn:hover{
  background-color: whitesmoke;
  color: #fc036b;

}
